
body {
    background-color: white;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

section {
    display: block;
    background-color: lemonchiffon;
}
title {
    color: rgb(54, 54, 174);
}
#email {
    background-color: goldenrod;
}
#github {
    background-color: lightsteelblue;
}
#portfolio {
    background-color: darkorange;
}